.main{
    width: 270px;
    height: 396px;
    border: 2px solid white;
    background: white;
    position: relative;
}
.dogframe {
    width: 260px;
    height: 260px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid#E5E5E5;
    background: white;
    margin-top: 20px;
    border-radius: 12px;
}

.dogframe img {
    margin-top: 2em;
    margin-bottom: 2em;
}

.label{
    position: absolute;
    width: 83px;
    height: 48px;
    margin-top: -248px;
    margin-left: 20px;
}

.favorite{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    margin-top: 28px;
    margin-left: 222px;

}

.pet{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -30px;
    margin-left: 242px;

}


.text{
    display: block;
    margin-top: 15px;
    margin-left: 2px;

}

.stars{
    display: block;
    margin-top: 18px;
    margin-left: 5px;
}

.price{
    display: block;
    margin-top: 9px;
    margin-left: 5px;
}
