.main{
    width: 300px;
    height: 400px;
    border: 2px solid white;
    background: white;
    position: relative;
}
.dogframe {
    width: 240px;
    height: 245px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid#E5E5E5;
    background: white;
    margin-top: 20px;
    border-radius: 20px;
}

.text{
    display: block;
    margin-top: 10px;
    margin-left: 20px;

}

.label{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.favorite{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 220px;

}

.pet{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -220px;
    left: 250px;
    margin-top: 10px;
    margin-left: 10px;

}

.stars{
    display: block;
    margin-top: 12px;
    margin-left: 20px ;
}

.price{
    display: block;
    margin-top: 12px;
    margin-left: 20px ;
}

.botton{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -290px;
    left: 220px;
    margin-top: 10px;
    margin-left: 10px;


}